html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    display: flex;
    padding: 5px;
    align-items: center;
    border-bottom: 2px solid black;
}

#header > * {
    margin: 0px 5px;
}

#content {
    display: flex;
    padding: 10px;
    overflow: auto;
    height: 100%;
}

.project-card {
    border: 2px solid black;
    min-width: 15%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border-radius: 10px;
}

.project-header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.todo-container {
    flex-grow: 1;
}

.focus-view {
    position: absolute;
    background-color: white;
    border: 2px solid black;
    width: 25%;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 1px 100vmax rgba(0,0,0,0.6);
}

.focus-view > * {
    margin: 5px 0;
}